<%- include('partials/header'); %>
    <ul>
        <form action='/get-form' method="GET">
        <input type="submit" value="Add a new user">
        </form>
        <br>
       <% users.map(user=>{ %>
       <a href='/user/<%= user.id %>'>
            <li>
                <img src= <%= user.image %> alt="">
                <span> <%= user.name%></span>    
            </li>
        </a>


       <% }) %> 
    </ul>
    <%- include('partials/footer'); %>